<div class="row" *ngIf="loading">
  <div class="col">
    <div class="alert alert-info text-center">
      <i class="fa fa-sync fa-spin fa-2x"></i>
      <h1>Espere...</h1>
    </div>
  </div>
</div>

<div class="row" *ngIf="error">
  <div class="col">
    <div class="alert alert-danger text-center">
      <i class="fa fa-times fa-2x"></i>
      <h2>Error: {{ error.status }}</h2>
      <p>{{ error.message }}</p>
      <br><br>
      {{ error.url }}
    </div>
  </div>
</div>

<!-- *ngIf="!loading" si no estoy cargando aparece. -->
<div class="card-columns" *ngIf="!loading">
  <div *ngFor=" let user of usuarios" class="card">
    <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name + ' ' + user.last_name}}</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <small class="text-muted"><cite title="Source Title">id: {{user.id}}</cite>
      </small>
    </div>
  </div>
</div>
